<div class="conteudo">
  <div class="">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <img align="center" class="img-fluid" src="../../assets/img/unb-logomarca.png" alt="">
        </div>
        
      </div>
      <div class="col-12">

        <div class="text-center">
          <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
            <circle cx="170" cy="170" r="160" stroke="#00923F" />
            <circle cx="170" cy="170" r="135" stroke="#043C77" />
            <circle cx="170" cy="170" r="110" stroke="#00923F" />
            <circle cx="170" cy="170" r="85" stroke="#043C77" />
          </svg>
        </div>
        
      </div>
    </div>
  </div>
</div>