<div class="container">
  <div class="grid">
      <div class="row">
          <div class="col-md-4">
              <figure class="effect-ravi">
                  <img src="https://picsum.photos/1000/800/?random" alt="img17" />
                  <figcaption>
                      <h2>Avaliar <span>Professores</span></h2>
                      <p>
                          <a href="#"><i class="fa fa-search"></i></a>
                      </p>
                  </figcaption>
              </figure>
          </div>
          <div class="col-md-4">
              <figure class="effect-ravi">
                  <img src="https://picsum.photos/1000/801/?random" alt="img25" />
                  <figcaption>
                      <h2>Avaliar <span>Instituição </span></h2>
                      <p>
                          <a href="#"><i class="fa fa-search"></i></a>

                      </p>
                  </figcaption>
              </figure>
          </div>
          <div class="col-md-4">
              <figure class="effect-ravi">
                  <img src="https://picsum.photos/1000/802/?random" alt="img25" />
                  <figcaption>
                      <h2>Deixe seu comentário <span>Fórum</span></h2>
                      <p>
                          <a href="#"><i class="fa fa-search"></i></a>

                      </p>
                  </figcaption>
              </figure>
          </div>
      </div>
</div>