<div class="text-center" style="padding:50px 0">
	<div class="logo">Registrar-se</div>
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="register-form" class="text-left">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="reg_username" class="sr-only">nome de usuário</label>
						<input type="text" class="form-control" id="reg_username" name="reg_username" placeholder="nome de usuário">
					</div>
					<div class="form-group">
						<label for="reg_password" class="sr-only">senha</label>
						<input type="password" class="form-control" id="reg_password" name="reg_password" placeholder="senha">
					</div>
					<div class="form-group">
						<label for="reg_password_confirm" class="sr-only">confirmação de senha</label>
						<input type="password" class="form-control" id="reg_password_confirm" name="reg_password_confirm" placeholder="confirmação de senha">
					</div>
					
					<div class="form-group">
						<label for="reg_email" class="sr-only">e-mail</label>
						<input type="text" class="form-control" id="reg_email" name="reg_email" placeholder="e-mail">
					</div>
					<div class="form-group">
						<label for="reg_fullname" class="sr-only">nome completo</label>
						<input type="text" class="form-control" id="reg_fullname" name="reg_fullname" placeholder="nome completo">
					</div>
					
					<div class="form-group login-group-checkbox">
						<input type="radio" class="" name="reg_gender" id="male" placeholder="username">
						<label for="male">M</label>
						
						<input type="radio" class="" name="reg_gender" id="female" placeholder="username">
						<label for="female">F</label>
					</div>
					
					<div class="form-group login-group-checkbox">
						<input type="checkbox" class="" id="reg_agree" name="reg_agree">
						<label for="reg_agree">Eu concordo com os <a href="#">termos*</a></label>
					</div>
				</div>
				<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
			</div>
			<div class="etc-login-form">
				<p>Você já tem uma conta? <a routerLink="/login">Faça o login</a></p>
			</div>
		</form>
	</div>
	<!-- end:Main Form -->
</div>